.text {
  margin-top: 30px;
  margin-left: 100px;
  text-align: center;
  color: #25c880;
  font-size: 30px;
  font-family: "Roboto", Arial, sans-serif;
}
.label{
	color: grey;
	text-align: right;
	font-size: 15px;
	margin-top: 5px;
}
.form-control{
  margin-bottom: 10px;
}